@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;500;700&display=swap");

/* Page Layout */
.container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem 10%;
  background-color: #dfe2a12d;
  min-height: 75vh;
}

/* Text Section */
.textContent {
  flex: 1;
  max-width: 50%;
}

.title {
  font-family: "Playfair Display", serif;
  font-size: 4.5rem;
  font-weight: 700;
  color: #272727;
  margin-bottom: 0.5rem;
}

.subtitle {
  font-family: "Playfair Display", serif;
  font-size: 2rem;
  font-weight: 500;
  color: #323232;
  margin-bottom: 1rem;
}

.description {
  font-family: "Playfair Display", serif;
  font-size: 1.25rem;
  color: #474646;
  line-height: 1.6;
  max-width: 500px;
  margin-bottom: 2rem;
}

.readButton {
  background-color: rgb(26, 120, 31);
  color: white;
  font-size: 1.125rem;
  padding: 0.75rem 1.5rem;
  border: none;
  border-radius: 50px;
  font-family: sans-serif;
  font-weight: 600;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.readButton:hover {
  background-color: rgba(26, 120, 31, 0.827);
}

/* Image Section */
.imageContainer {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.image {
  width: 100%;
  max-width: 500px;
  border-radius: 10px;
}

/* Responsive Design */
@media (max-width: 768px) {
  .container {
    flex-direction: column;
    text-align: start;
  }
  .textContent {
    max-width: 100%;
    margin-top: 100px;

  }
  .imageContainer{
    display: none;
  }
}
