@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;500;700&display=swap");

/* Global Navbar Styles */
.navbar {
  background-color: #dfe2a12d;
  color: black;
  padding: 1rem 2rem;
  position: sticky;
  top: 0;
  width: 100%;
  z-index: 1000;
}

/* Logo styling */
.logo {
  font-family: "Playfair Display", serif;
  font-size: 2rem;
  font-weight: 700;
  transition: transform 0.3s ease-in-out, color 0.3s ease-in-out;
}

.logo:hover {
  transform: scale(1.12);
}

/* Mobile Menu */
.mobileMenu {
  position: fixed;
  top: 0;
  left: 0;
  width: 60%;
  height: 100vh; 
  background-color: #ffffff;
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.053);
  transition: transform 0.3s ease-in-out;
  transform: translateX(-100%); 
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  z-index: 1001;
  font-size: 30px;
  text-align: left;

}

.mobileMenu.open {
  transform: translateX(0);
}

/* Overlay Effect */
.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background: rgba(0, 0, 0, 0.5);
  z-index: 1000;
}

/* Close Button */
.closeButton {
  position: absolute;
  top: 1rem;
  right: 1.5rem;
  font-size: 1.5rem;
  cursor: pointer;
}

